<!-- =================================================================================================== -->
<section>
    <div class="footer-container">
        <div class="left-side">
            <img src="assets/logo.png" alt="logo">
            <div class="subscribe">
                <input type="email" placeholder="Enter Your Email">
                <button>Subscribe</button>
            </div>
        </div>
        <div class="right-side">
            <div class="footer-column">
                <h4>Home</h4>
                <ul>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Popular Products</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Menswear</h4>
                <ul>
                    <li><a href="#">Casual</a></li>
                    <li><a href="#">Formal</a></li>
                    <li><a href="#">Party</a></li>
                    <li><a href="#">Business</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Womenswear</h4>
                <ul>
                    <li><a href="#">Casual</a></li>
                    <li><a href="#">Formal</a></li>
                    <li><a href="#">Party</a></li>
                    <li><a href="#">Business</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Kidswear</h4>
                <ul>
                    <li><a href="#">Casual</a></li>
                    <li><a href="#">Formal</a></li>
                    <li><a href="#">Party</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- =================================================================================================== -->
<section>
    <div class="footer-bottom">
        <div class="policies">
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
        </div>

        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>

        <div class="copyright">
            <p>&copy; 2024 Klothink. All rights reserved.</p>
        </div>
    </div>
</section>
<!-- =================================================================================================== -->
