<div class="nav-top">
    Subscribe to our Newsletter For Latest Collections <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
  </div>
  
  <nav class="navbar-container">
    <ul class="nav">
      <li class="left-buttons">
        <a aria-current="page" routerLink="/home" routerLinkActive="activelink">
            <div class="navbar-borders">
                Home
            </div>
        </a>
        <a aria-current="page" routerLink="/products" routerLinkActive="activelink">
            <div class="navbar-borders">
                Products
            </div>
        </a>
    </li>

      <li class="logo-middle">
        <img src="assets/logo.png" alt="logo">
      </li>
  
      <div class="logo-middle">
        <img src="assets/logo.png" alt="logo">
      </div>
  
      <div class="right-buttons">
        <div class="shopcart-icon"><i class="fa-solid fa-cart-shopping"></i></div>
        <li>
          <a href="#">
            <div class="contactsupport-border">
              Contact Support
            </div>
          </a>
        </li>
      </div>
    </ul>
  </nav>
  