<!-- =================================================================================================== -->
<input type="text" class="w-50 form-control mx-auto my-4" [(ngModel)]="searchTerm" placeholder="Search by brand...">

<section class="mainpart">
    <h4>Casual Collection</h4>
    <p>Discover our versatile men's casual wear collection, where comfort meets contemporary fashion.</p>
</section>

<section>
    <div class="container-images">

        <owl-carousel-o [options]="customOptions">

            <ng-template *ngFor="let i of products|search:searchTerm" carouselSlide>
                <img [src]="x" alt="{{i.name}}">
                <h3>{{ i.brand | lowercase }}</h3>
                <p><strong>Name:</strong> {{ i.name }}</p>
                <p><strong>Price:</strong> ${{ i.price }}</p>
                <p><strong>Quantity:</strong> {{ i.quantity }}</p>
                <p><strong>Discount:</strong> {{ i.discount }}%</p>
                <p><strong>Status:</strong> {{ i.status }}</p>
            </ng-template>

            <ng-template carouselSlide>


                <div class="image-manage">
                    <img src="assets/image-Photoroom (9).png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Classic Denim Jeans</h5>
                            <p>Slim Fit</p>
                        </div>
                        <div class="details-price">
                            $49.99
                        </div>
                    </div>
                </div>
                <div class="padding-bottom"></div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-manage2">
                    <img src="assets/OIP-Photoroom (1).png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Cozy Comfort Hoodie</h5>
                            <p>Relaxed Fit</p>
                        </div>
                        <div class="details-price">
                            $39.99
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-manage3">
                    <img src="assets/red-tshirt.png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Classic Polo Shirt</h5>
                            <p>Regular Fit</p>
                        </div>
                        <div class="details-price">
                            $29.99
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-manage4">
                    <img src="assets/jeans.png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Chino Pants</h5>
                            <p>Slim Fit</p>
                        </div>
                        <div class="details-price">
                            $44.99
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>

                <div class="image-manage">
                    <img src="assets/image-Photoroom (9).png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Classic Denim Jeans</h5>
                            <p>Slim Fit</p>
                        </div>
                        <div class="details-price">
                            $49.99
                        </div>
                    </div>
                </div>
                <div class="padding-bottom"></div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-manage2">
                    <img src="assets/OIP-Photoroom (1).png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Cozy Comfort Hoodie</h5>
                            <p>Relaxed Fit</p>
                        </div>
                        <div class="details-price">
                            $39.99
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-manage3">
                    <img src="assets/red-tshirt.png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Classic Polo Shirt</h5>
                            <p>Regular Fit</p>
                        </div>
                        <div class="details-price">
                            $29.99
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-manage4">
                    <img src="assets/jeans.png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Chino Pants</h5>
                            <p>Slim Fit</p>
                        </div>
                        <div class="details-price">
                            $44.99
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>


<!-- =================================================================================================== -->
<section class="mainpart">
    <h5>Formal Elegance</h5>
    <p>Explore timeless elegance with our Formal Elegance collection, featuring refined pieces for a polished look.</p>
</section>


<section>
    <div class="container-images">

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>

                <div class="image-manage">
                    <img src="assets/image-Photoroom (9).png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Classic Denim Jeans</h5>
                            <p>Slim Fit</p>
                        </div>
                        <div class="details-price">
                            $49.99
                        </div>
                    </div>
                </div>
                <div class="padding-bottom"></div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-manage2">
                    <img src="assets/OIP-Photoroom (1).png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Cozy Comfort Hoodie</h5>
                            <p>Relaxed Fit</p>
                        </div>
                        <div class="details-price">
                            $39.99
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-manage3">
                    <img src="assets/red-tshirt.png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Classic Polo Shirt</h5>
                            <p>Regular Fit</p>
                        </div>
                        <div class="details-price">
                            $29.99
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-manage4">
                    <img src="assets/jeans.png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Chino Pants</h5>
                            <p>Slim Fit</p>
                        </div>
                        <div class="details-price">
                            $44.99
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>

                <div class="image-manage">
                    <img src="assets/image-Photoroom (9).png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Classic Denim Jeans</h5>
                            <p>Slim Fit</p>
                        </div>
                        <div class="details-price">
                            $49.99
                        </div>
                    </div>
                </div>
                <div class="padding-bottom"></div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-manage2">
                    <img src="assets/OIP-Photoroom (1).png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Cozy Comfort Hoodie</h5>
                            <p>Relaxed Fit</p>
                        </div>
                        <div class="details-price">
                            $39.99
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-manage3">
                    <img src="assets/red-tshirt.png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Classic Polo Shirt</h5>
                            <p>Regular Fit</p>
                        </div>
                        <div class="details-price">
                            $29.99
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-manage4">
                    <img src="assets/jeans.png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Chino Pants</h5>
                            <p>Slim Fit</p>
                        </div>
                        <div class="details-price">
                            $44.99
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>
<!-- =================================================================================================== -->
<section class="mainpart">
    <h5>Active Lifestyle</h5>
    <p>Embrace an active lifestyle with our performance-driven men's wear, designed for comfort and flexibility.</p>
</section>

<section>
    <div class="container-images">

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>

                <div class="image-manage">
                    <img src="assets/image-Photoroom (9).png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Classic Denim Jeans</h5>
                            <p>Slim Fit</p>
                        </div>
                        <div class="details-price">
                            $49.99
                        </div>
                    </div>
                </div>
                <div class="padding-bottom"></div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-manage2">
                    <img src="assets/OIP-Photoroom (1).png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Cozy Comfort Hoodie</h5>
                            <p>Relaxed Fit</p>
                        </div>
                        <div class="details-price">
                            $39.99
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-manage3">
                    <img src="assets/red-tshirt.png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Classic Polo Shirt</h5>
                            <p>Regular Fit</p>
                        </div>
                        <div class="details-price">
                            $29.99
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-manage4">
                    <img src="assets/jeans.png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Chino Pants</h5>
                            <p>Slim Fit</p>
                        </div>
                        <div class="details-price">
                            $44.99
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>

                <div class="image-manage">
                    <img src="assets/image-Photoroom (9).png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Classic Denim Jeans</h5>
                            <p>Slim Fit</p>
                        </div>
                        <div class="details-price">
                            $49.99
                        </div>
                    </div>
                </div>
                <div class="padding-bottom"></div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-manage2">
                    <img src="assets/OIP-Photoroom (1).png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Cozy Comfort Hoodie</h5>
                            <p>Relaxed Fit</p>
                        </div>
                        <div class="details-price">
                            $39.99
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-manage3">
                    <img src="assets/red-tshirt.png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Classic Polo Shirt</h5>
                            <p>Regular Fit</p>
                        </div>
                        <div class="details-price">
                            $29.99
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-manage4">
                    <img src="assets/jeans.png" alt="">
                    <div class="details-container">
                        <div class="details-text">
                            <h5>Chino Pants</h5>
                            <p>Slim Fit</p>
                        </div>
                        <div class="details-price">
                            $44.99
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>
<!-- =================================================================================================== -->