<section class="mainpart">
    <h4>Casual Collection</h4>
    <p>Discover our versatile men's casual wear collection, where comfort meets contemporary fashion.</p>
</section>
<!-- =================================================================================================== -->
<section class="mainpart">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1" style="background-color: black;"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"
                style="background-color: black;"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"
                style="background-color: black;"></button>
        </div>
        <div class="container22">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <!-- Product 1 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/denim-jeans.png" alt="Classic Denim Jeans">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Classic Denim Jeans</h5>
                                <p>$49.99</p>
                            </div>
                        </div>

                        <!-- Product 2 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/mens-jackets.png" alt="Cozy Comfort Hoodie">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Cozy Comfort Hoodie</h5>
                                <p>$39.99</p>
                            </div>
                        </div>

                        <!-- Product 3 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/red-tshirt.png" alt="Classic Polo Shirt">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Classic Polo Shirt</h5>
                                <p>$29.99</p>
                            </div>
                        </div>

                        <!-- Product 4 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/jeans.png" alt="Chino Pants">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Chino Pants</h5>
                                <p>$44.99</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--============================================= Second Carousel ===========================================-->
                <div class="carousel-item">
                    <div class="row">
                        <!-- Product 1 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/denim-jeans.png" alt="Classic Denim Jeans">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Classic Denim Jeans</h5>
                                <p>$49.99</p>
                            </div>
                        </div>

                        <!-- Product 2 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/mens-jackets.png" alt="Cozy Comfort Hoodie">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Cozy Comfort Hoodie</h5>
                                <p>$39.99</p>
                            </div>
                        </div>

                        <!-- Product 3 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/red-tshirt.png" alt="Classic Polo Shirt">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Classic Polo Shirt</h5>
                                <p>$29.99</p>
                            </div>
                        </div>

                        <!-- Product 4 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/jeans.png" alt="Chino Pants">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Chino Pants</h5>
                                <p>$44.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--============================================= Third Carousel ===========================================-->
                <div class="carousel-item">
                    <div class="row">
                        <!-- Product 1 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/denim-jeans.png" alt="Classic Denim Jeans">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Classic Denim Jeans</h5>
                                <p>$49.99</p>
                            </div>
                        </div>

                        <!-- Product 2 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/mens-jackets.png" alt="Cozy Comfort Hoodie">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Cozy Comfort Hoodie</h5>
                                <p>$39.99</p>
                            </div>
                        </div>

                        <!-- Product 3 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/red-tshirt.png" alt="Classic Polo Shirt">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Classic Polo Shirt</h5>
                                <p>$29.99</p>
                            </div>
                        </div>

                        <!-- Product 4 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/jeans.png" alt="Chino Pants">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Chino Pants</h5>
                                <p>$44.99</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="linebreak"></div>
</section>

<!-- =================================================================================================== -->

<section class="mainpart">
    <h5>Formal Elegance</h5>
    <p>Explore timeless elegance with our Formal Elegance collection, featuring refined pieces for a polished look.</p>
</section>
<section class="mainpart">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1" style="background-color: black;"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"
                style="background-color: black;"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"
                style="background-color: black;"></button>
        </div>
        <div class="container22">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <!-- Product 1 -->
                        <div class="col-md-3 container-images">
                           <img src="assets/Charcoal Suit.png" alt="Classic Denim Jeans">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Classic Charcoal Suit</h5>
                                <p>$199.99</p>
                            </div>
                        </div>

                        <!-- Product 2 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/French Cuff Shirt.png" alt="Cozy Comfort Hoodie">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Black French Cuff Shirt:</h5>
                                <p>$39.99</p>
                            </div>
                        </div>

                        <!-- Product 3 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/Leather Oxford Shoes.png" alt="Classic Polo Shirt">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5> Black Leather Oxford Shoes:</h5>
                                <p>$89.99</p>
                            </div>
                        </div>

                        <!-- Product 4 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/Black Leather Belt.png" alt="Chino Pants">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Classic Black Leather Belt</h5>
                                <p>$29.99</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--============================================= Second Carousel ===========================================-->
                <div class="carousel-item">
                    <div class="row">
                        <!-- Product 1 -->
                        <div class="col-md-3 container-images">
                           <img src="assets/Charcoal Suit.png" alt="Classic Denim Jeans">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Classic Charcoal Suit</h5>
                                <p>$199.99</p>
                            </div>
                        </div>

                        <!-- Product 2 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/French Cuff Shirt.png" alt="Cozy Comfort Hoodie">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Black French Cuff Shirt:</h5>
                                <p>$39.99</p>
                            </div>
                        </div>

                        <!-- Product 3 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/Leather Oxford Shoes.png" alt="Classic Polo Shirt">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5> Black Leather Oxford Shoes:</h5>
                                <p>$89.99</p>
                            </div>
                        </div>

                        <!-- Product 4 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/Black Leather Belt.png" alt="Chino Pants">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Classic Black Leather Belt</h5>
                                <p>$29.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--============================================= Third Carousel ===========================================-->
                <div class="carousel-item">
                    <div class="row">
                        <!-- Product 1 -->
                        <div class="col-md-3 container-images">
                           <img src="assets/Charcoal Suit.png" alt="Classic Denim Jeans">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Classic Charcoal Suit</h5>
                                <p>$199.99</p>
                            </div>
                        </div>

                        <!-- Product 2 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/French Cuff Shirt.png" alt="Cozy Comfort Hoodie">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Black French Cuff Shirt:</h5>
                                <p>$39.99</p>
                            </div>
                        </div>

                        <!-- Product 3 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/Leather Oxford Shoes.png" alt="Classic Polo Shirt">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5> Black Leather Oxford Shoes:</h5>
                                <p>$89.99</p>
                            </div>
                        </div>

                        <!-- Product 4 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/Black Leather Belt.png" alt="Chino Pants">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Classic Black Leather Belt</h5>
                                <p>$29.99</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="linebreak"></div>
</section>
<!-- =================================================================================================== -->
<section class="mainpart">
    <h5>Active Lifestyle</h5>
    <p>Embrace an active lifestyle with our performance-driven men's wear, designed for comfort and flexibility.</p>
</section>
<section class="mainpart">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1" style="background-color: black;"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"
                style="background-color: black;"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"
                style="background-color: black;"></button>
        </div>
        <div class="container22">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <!-- Product 1 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/Performance Jacket.png" alt="Classic Denim Jeans">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5> Performance Jacket</h5>
                                <p>$59.99</p>
                            </div>
                        </div>

                        <!-- Product 2 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/Quick-Dry Athletic Shorts.png" alt="Cozy Comfort Hoodie">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Quick-Dry Athletic Shorts</h5>
                                <p>$39.99</p>
                            </div>
                        </div>

                        <!-- Product 3 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/High-Performance Leggings.png" alt="Classic Polo Shirt">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>High-Performance Leggings</h5>
                                <p>$44.99</p>
                            </div>
                        </div>

                        <!-- Product 4 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/Lightweight Running Shoes.png" alt="Chino Pants">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Lightweight Running Shoes</h5>
                                <p>$69.99</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--============================================= Second Carousel ===========================================-->
                <div class="carousel-item">
                    <div class="row">
                        <!-- Product 1 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/denim-jeans.png" alt="Classic Denim Jeans">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Classic Denim Jeans</h5>
                                <p>$49.99</p>
                            </div>
                        </div>

                        <!-- Product 2 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/mens-jackets.png" alt="Cozy Comfort Hoodie">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Cozy Comfort Hoodie</h5>
                                <p>$39.99</p>
                            </div>
                        </div>

                        <!-- Product 3 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/red-tshirt.png" alt="Classic Polo Shirt">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Classic Polo Shirt</h5>
                                <p>$29.99</p>
                            </div>
                        </div>

                        <!-- Product 4 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/jeans.png" alt="Chino Pants">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Chino Pants</h5>
                                <p>$44.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--============================================= Third Carousel ===========================================-->
                <div class="carousel-item">
                    <div class="row">
                        <!-- Product 1 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/denim-jeans.png" alt="Classic Denim Jeans">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Classic Denim Jeans</h5>
                                <p>$49.99</p>
                            </div>
                        </div>

                        <!-- Product 2 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/mens-jackets.png" alt="Cozy Comfort Hoodie">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Cozy Comfort Hoodie</h5>
                                <p>$39.99</p>
                            </div>
                        </div>

                        <!-- Product 3 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/red-tshirt.png" alt="Classic Polo Shirt">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Classic Polo Shirt</h5>
                                <p>$29.99</p>
                            </div>
                        </div>

                        <!-- Product 4 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/jeans.png" alt="Chino Pants">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="product-details">
                                <h5>Chino Pants</h5>
                                <p>$44.99</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>