<!-- =================================================================================================== -->
<section class="mainpart">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1" style="background-color: black;"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"
                style="background-color: black;"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"
                style="background-color: black;"></button>
        </div>
        <div class="container22">
            <div class="carousel-inner">
                <!-- First Slide with 4 images -->
                <div class="carousel-item active">
                    <div class="row">
                        <!-- Product 1 -->
                        <div class="col-md-3 container-images1">
                            <img src="assets/denim-jeans.png" alt="Classic Denim Jeans">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <h5>Classic Denim Jeans</h5>
                            <p>$49.99</p>
                        </div>

                        <!-- Product 2 -->
                        <div class="col-md-3 container-images2">
                            <img src="assets/mens-jackets.png" alt="Cozy Comfort Hoodie">
                            <div class="shopcart-icon-pos2">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <h5>Cozy Comfort Hoodie</h5>
                            <p>$39.99</p>
                        </div>
                        <!-- Product 3 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/red-tshirt.png" alt="Classic Polo Shirt">
                            <div class="shopcart-icon-pos3">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <h5>Classic Polo Shirt</h5>
                            <p>$29.99</p>
                        </div>
                        <!-- Product 4 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/jeans.png" alt="Chino Pants">
                            <div class="shopcart-icon-pos3">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <h5>Chino Pants</h5>
                            <p>$44.99</p>
                        </div>
                    </div>
                </div>

                <!--============================================= Second Carousel ===========================================-->
                <div class="carousel-item">
                    <div class="row">
                        <!-- Product 1 -->
                        <div class="col-md-3 container-images1">
                            <img src="assets/denim-jeans.png" alt="Classic Denim Jeans">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <h5>Classic Denim Jeans</h5>
                            <p>$49.99</p>
                        </div>

                        <!-- Product 2 -->
                        <div class="col-md-3 container-images2">
                            <img src="assets/mens-jackets.png" alt="Cozy Comfort Hoodie">
                            <div class="shopcart-icon-pos2">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <h5>Cozy Comfort Hoodie</h5>
                            <p>$39.99</p>
                        </div>
                        <!-- Product 3 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/red-tshirt.png" alt="Classic Polo Shirt">
                            <div class="shopcart-icon-pos3">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <h5>Classic Polo Shirt</h5>
                            <p>$29.99</p>
                        </div>
                        <!-- Product 4 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/jeans.png" alt="Chino Pants">
                            <div class="shopcart-icon-pos3">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>

                            <h5>Chino Pants</h5>
                            <p>$44.99</p>

                        </div>
                    </div>
                </div>
                <!--============================================= Third Carousel ===========================================-->
                <div class="carousel-item active">
                    <div class="row">
                        <!-- Product 1 -->
                        <div class="col-md-3 container-images1">
                            <img src="assets/denim-jeans.png" alt="Classic Denim Jeans">
                            <div class="shopcart-icon-pos">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <h5>Classic Denim Jeans</h5>
                            <p>$49.99</p>
                        </div>

                        <!-- Product 2 -->
                        <div class="col-md-3 container-images2">
                            <img src="assets/mens-jackets.png" alt="Cozy Comfort Hoodie">
                            <div class="shopcart-icon-pos2">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <h5>Cozy Comfort Hoodie</h5>
                            <p>$39.99</p>
                        </div>
                        <!-- Product 3 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/red-tshirt.png" alt="Classic Polo Shirt">
                            <div class="shopcart-icon-pos3">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <h5>Classic Polo Shirt</h5>
                            <p>$29.99</p>
                        </div>
                        <!-- Product 4 -->
                        <div class="col-md-3 container-images">
                            <img src="assets/jeans.png" alt="Chino Pants">
                            <div class="shopcart-icon-pos3">
                                <div class="shopcart-icon-border">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <h5>Chino Pants</h5>
                            <p>$44.99</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =================================================================================================== -->