.mainpart {
    margin: 4rem 7rem;
    display: flex;
    justify-content: space-between;
}


.primary {
    width:max-content;
    position: relative;
}

.products {
    position: relative;
}

.products::after {
    content: "PRODUCTS";
    position: absolute;
    font-size: 20px;
    color: gray;
    left: 21rem;
    top: 0px;
}
.bottom-margin {
    margin-bottom: 2rem;
}

.secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 42rem;
    padding:50px;
    background-color: #f9f9f96f;
    border-radius: 1rem;
    border: 1px solid rgba(211, 211, 211, 0.23);
    height: 8rem;
    margin-top: 1.2rem;
    padding-right: 20px;
}

.container {
    padding-left: 15px;
}  

.container2 {
    border-left: 1px solid black;
    padding-left: 15px;  
} 

.container3 {
    border-left: 1px solid black;
    padding-left: 15px;
}

.secondary h5 {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    
}

.secondary p {
    text-align: center;
    font-size: 0.9rem;
    color: gray;
}

.main-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
  }

  .category-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 1px solid #cccccc5b;
    border-radius: 40px;
    background-color: white;
  }
  
  .category-button {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgba(183, 183, 183, 0.097);
  }


  .activelink{
    background-color:rgb(255, 212, 0);
    border-radius: 40px;
    border: 1px solid black;
 }
 

  .category-button i {
    margin-right: 10px;
    font-size: 18px;
  }


  .category-button:hover {
    border-color: #000000;
  }

  .category-container a {
    text-decoration: none; 
    color: inherit; 
}

.category-container a:hover {
    text-decoration: none; 
}